*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --bc-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0px 75px;
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 720px;
  }
}

.section-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.section-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
  }

  .header-nav__burger {
    display: block;
  }

  .header-nav__list {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
  }

  .header-nav__burger {
    display: block;
  }

  .header-nav__list {
    display: none;
  }
}

/* header */

.header {
  padding: 14px 0;
  background-color: var(--bc-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 32px 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    padding: 32px 50px;
  }
}

.header-container {
  width: 1920px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 768px;
    padding: 0 50px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    width: 1024px;
    padding: 0 50px;
    justify-content: space-between;
  }
}

.header-nav {
  align-items: center;
}

.header-nav__link {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .header-nav__link {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__link {
    margin: 0;
  }
}

.header-nav__list {
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-link__logo {
    width: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .header-link__logo {
    width: 150px;
  }
}

.header-items__name {
  margin-right: 85px;
  max-width: 92px;
  word-break: break-all;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: color 0.3s linear;
}

.header-items__name:focus {
  border: 2px solid #FF9900;
  box-sizing: border-box;
}

.header-items__name:hover {
  border-bottom: 2px solid #FF9900;
}
.header-items__name:active {
  color: #E1670E;
  border-bottom: 2px solid #FF9900;
}

.header-link__search-icon:focus {
  border: 2px solid #FF9900;
  box-sizing: border-box;
}

.header-nav__burger-btn {
  flex-direction: column;
}

.header-nav__burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-nav__burger {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__burger {
    display: block;
  }
}

.burger-btn {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  background-color: #333333;
}

.burger-btn:last-child {
  margin-bottom: 0px;
}

/* hero */

.hero-container {
  width: 1770px;
  padding: 100px 82px;
  margin: 0 75px;
  margin-bottom: 100px;
  background-image: url(../img/low-angle-photo-of-balconies-24620151.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .hero-container {
    width: 768px;
    margin: 0 0;
    margin-bottom: 80px;
    padding: 158px 91px;
    background-image: url(../img/balcon768.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 669px 662px;
  }
}

@media (max-width: 1024px) {
  .hero-container {
    width: 1024px;
    margin: 0 0;
    margin-bottom: 84px;
    padding: 162px 126px;
    background-image: url(../img/balkon1024.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 924px 668px;
  }
}

.hero-title {
  max-width: 837px;
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .hero-title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }
}

@media (max-width: 1024px) {
  .hero-title {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 73px;
  }
}

.hero-descr {
  max-width: 790px;
  margin-top: 0;
  margin-bottom: 90px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .hero-descr {
    margin-bottom: 58px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .hero-descr {
    margin-bottom: 58px;
    font-size: 20px;
    line-height: 24px;
  }
}

.hero-btn {
  padding: 24.8px 37.8px;
  background-color: #FF9900;
  font-style: normal;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  transition: background 0.3s linear;
}

.hero-btn:focus {
  background: rgba(255, 153, 0, 0.7);
}

.hero-btn:hover {
  background: rgba(255, 153, 0, 0.7);
}

.hero-btn:active {
  background: #E1670E;
}

/* aboutus */

.aboutus-container {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .aboutus-container {
    width: 768px;
      /* Заменить на паддинг */
    height: 100%;
    margin-bottom: 82px;
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .aboutus-container {
    width: 1024px;
    height: 100%;
    margin-bottom: 82px;
    padding: 0 50px;
  }
}

.aboutus-title {
  margin-top: 0;
  margin-bottom: 20px;
  word-break: break-all;
}

@media (max-width: 768px) {
  .aboutus-title {
    margin-bottom: 11px;
  }
}

@media (max-width: 1024px) {
  .aboutus-title {
    margin-bottom: 7px;
  }
}

.aboutus-descr__text {
  width: 1235px;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .aboutus-descr {
    margin-bottom: 60px;
  }

  .aboutus-descr__text {
    display: inline;
  }
}

@media (max-width: 1024px) {
  .aboutus-descr {
    margin-bottom: 60px;
  }

  .aboutus-descr__text {
    display: inline;
    overflow-wrap: break-word;
  }
}

.aboutus-blocks {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .aboutus-blocks {
    display: block;
  }
}

@media (max-width: 1024px) {
  .aboutus-blocks {
    display: block;
  }
}

.aboutus-left__block {
  position: relative;
  width: 868px;
  margin-right: 32px;
  padding: 477px 50px 47px 50px;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/stroitel.png);
  background-position: left top -2px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .aboutus-left__block {
    width: 668px;
    margin-bottom: 33px;
    padding: 491px 40px 32px 40px;
    background-image: url(..//img/raboch2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 1024px) {
  .aboutus-left__block {
    width: 924px;
    min-height: 640px;
    margin-bottom: 33px;
    padding: 478px 48px 32px 50px;
    background-image: url(..//img/rab1024.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.aboutus-left__block::before {
  content: '';
  width: 100%;
  height: 32%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .aboutus-left__block::before {
  height: 30%;
  }
}

@media (max-width: 1024px) {
  .aboutus-left__block::before {
  height: 31%;
  }
}

.aboutus-descr__left-block {
  max-width: 454px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  z-index: 1;
}

@media (max-width: 768px) {
  .aboutus-descr__left-block {
  max-width: 376px;
  }
}

@media (max-width: 1024px) {
  .aboutus-descr__left-block {
  max-width: 436px;
  }
}

.aboutus-btn {
  padding: 17px 35px;
  border: 3px solid #FF9900;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  transition: background 0.3s linear;
}

.aboutus-btn:focus {
  background: #FF9900;
}

.aboutus-btn:hover {
  background: #FF9900;
}

.aboutus-btn:active {
  background: #E1670E;
  border: none;
}

.aboutus-list {
  flex-direction: column;
}

.aboutus-items {
  border: 1px solid #CACACA;
  box-sizing: border-box;
  max-width: 870px;
    /* Заменить на паддинг */
  height: 295px;
  padding: 64px 118px 76px 300px;
  background-position: left 60px bottom 65px;
  background-repeat: no-repeat;
  background-size: 190px 165px;
}

@media (max-width: 768px) {
  .aboutus-items {
    max-width: 721px;
    min-height: 233px;
    padding: 35px 50px 30px 169px;
    background-position: left 38px bottom 33px;
    background-size: 116px 165px;
  }
}

@media (max-width: 1024px) {
  .aboutus-items {
    max-width: 924px;
    min-height: 295px;
    padding: 63px 134px 31px 316px;
    background-position: left 75px bottom 65px;
    background-size: 193px 165px;
  }
}

.aboutus-items:not(:last-child) {
  margin-bottom: 32px;
}

.aboutus-items__title {
  min-width: 452px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  word-break: break-all;
}

@media (max-width: 768px) {
  .aboutus-items__title {
    margin-bottom: 10px;
  }
}

.aboutus-items__descr {
  margin: 0;
  line-height: 32px;
}

@media (max-width: 768px) {
  .aboutus-items__descr {
    font-size: 16px;
  }
}

.aboutus-top__block {
  background-image: url(../img/cube.svg);
}

.aboutus-bottom__block {
  background-image: url(../img/notcube.svg);
}

/* how we work */

.hww-container {
  min-height: 646px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .hww-container {
    padding: 0 50px;
    margin-bottom: 82px;
  }
}

@media (max-width: 1024px) {
  .hww-container {
    width: 1024px;
    padding: 0 50px;
    margin-bottom: 82px;
  }
}

.hww-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.hww-list__items:not(:last-child) {
  margin-right: 86px;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .hww-list__items:not(:last-child) {
    margin-right: 156px;
  }
}

@media (max-width: 1024px) {
  .hww-list__items:not(:last-child) {
    margin-bottom: 49px;
  }
}

.hww-items__steps {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: color 0.3s linear;
}

.hww-items__steps:focus {
  border: 2px solid #FF9900;
  box-sizing: border-box;
}

.hww-items__steps:hover {
  color: #FF9900;
}

.hww-items__steps:active {
  color: #E1670E;
  border: none;
}

.hww-para__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.hww-block {
  min-height: 469px;
  background-image: url(../img/comp.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 870px 460px;
}

@media (max-width: 768px) {
  .hww-block {
    padding-top: 328px;
    background-image: url(../img/arms768.png);
    background-position: left top 4px;
    background-size: 668px 284px;
  }
}

@media (max-width: 1024px) {
  .hww-block {
    background-image: url(../img/arm1024.png);
    background-position: right -6px top 15px;
    background-size: contain;
    }
  }

.hww-para {
  width: 758px;
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

@media (max-width: 768px) {
  .hww-para {
    width: 677px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1024px) {
  .hww-para {
    width: 437px;
    margin-bottom: 24px;
  }
}

.hww-block__btn {
  margin-right: 28px;
  padding: 20px 40px;
  color: #FFFFFF;
  background: #FF9900;
  transition: background 0.3s linear;
}

.hww-block__btn:focus {
  background: #F7B045;
}

.hww-block__btn:hover {
  background: #F7B045;
}

.hww-block__btn:active {
  background: #E1670E;
  border: none;
}

.hww-block__link {
  padding: 20px 37px;
  text-align: center;
  border: 1px solid #333333;
  box-sizing: border-box;
  transition: background 0.3s linear, color 0.3s linear;
}

.hww-block__link:focus {
  background: #666666;
  color: #FFFFFF;
}

.hww-block__link:hover {
  background: #666666;
  color: #FFFFFF;
}

.hww-block__link:active {
  background: #000000;
  color: #FFFFFF;
}

/* faq */

.faq-container {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .faq-container {
    width: 768px;
    margin-bottom: 83px;
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .faq-container {
    width: 1024px;
    margin-bottom: 83px;
    padding: 0 50px;
  }
}

.faq-title {
  margin-top: 0;
  margin-bottom: 43px;
}

@media (max-width: 768px) {
  .faq-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .faq-title {
    margin-bottom: 30px;
  }
}

.faq-list {
  flex-direction: column;
}

.faq-list__items {
  width: 1770px;
  padding: 29px 0px 30px 0;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CACACA;
  border-right: none;
  border-left: none;
  cursor: pointer;
  transition: color 0.3s linear;
}

@media (max-width: 768px) {
  .faq-list__items {
    width: 720px;
    padding: 32px 50px 27px 0;
  }
}

@media (max-width: 1024px) {
  .faq-list__items {
    width: 924px;
  }
}

.faq-items__descr {
  display: inline-block;
  max-width: 1105px;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: background 0.3s linear, color 0.3s linear;
}

@media (max-width: 768px) {
  .faq-items__descr {
    max-width: 570px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .faq-items__descr {
    max-width: 780px;
    font-size: 20px;
  }
}

.faq-list__items:focus-visible {
  color: #FF9900;
  border-color: #FF9900;
}

.faq-list__items:focus-visible .faq-items__descr {
  color: #FF9900;
  border-color: #FF9900;
}

.faq-list__items:hover {
  color: #FF9900;
  border-color: #FF9900;
}

.faq-list__items:hover .faq-items__descr {
  color: #FF9900;
  border-color: #FF9900;
}

.faq-items__btn {
  display: inline-block;
  width: 50px;
  /* Заменить на паддинг */
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid grey;
  font-size: 40px;
  background: #ECECEC;
  transition: transform 0.2s linear, color 0.3s linear, background 0.3s linear;
}

.faq-plus__vert {
  display: block;
  width: 30px;
  margin: 0 auto;
  border: 1px solid #666666;
}

.faq-plus__horizon {
  display: block;
  width: 30px;
  margin: 0 auto;
  border: 1px solid #666666;
  transform: rotate(90deg);
}

.faq-list__items:focus-visible .faq-items__btn {
  background: #FF9900;
  color: #FFFFFF;
}

.faq-list__items:hover .faq-items__btn {
  background: #FF9900;
  color: #FFFFFF;
  border: none;
}

.faq-list__items:active .faq-items__btn {
  transform: rotate(45deg);
}

/* footer */

.footer-container {
  padding: 51px 75px 50px 75px;
  background-color: #222222;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    width: 768px;
    padding: 50px 75px 100px 49px;
  }
}

@media (max-width: 1024px) {
  .footer-container {
    display: flex;
    width: 1024px;
    padding: 50px 20px 100px 49px;
  }
}

.footer-logo__pic {
  margin-bottom: 17px;
}

.footer-blocks {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-blocks {
    margin-bottom: 50px;
  }
}

.footer-nav__list {
  margin-bottom: 90px;
  flex-direction: column;
  word-break: break-all;
}

@media (max-width: 768px) {
  .footer-nav__list {
    display: none;
  }
}

.footer-nav__items {
  width: 366px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color 0.3s linear;
}

.footer-nav__items:focus {
  border: 2px solid #FF9900;
  box-sizing: border-box;
}

.footer-nav__items:hover {
  color: #FF9900;
}
.footer-nav__items:active {
  color: #E1670E;
  border: none;
}

.footer-nav__social-list {
  width: 230px;
  height: 60px;
}

.social-items__link {
  display: block;
  margin-right: 25px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.09s ease-in-out;
}

.social-items__link--meta {
  background-image: url(../img/socialmedia.svg);
}

.social-items__link--vk {
  background-image: url(../img/vk.svg);
}

.social-items__link--ig {
  background-image: url(../img/instagram.svg);
}

.social-items__link:focus {
  border: 2px solid #FF9900;
  box-sizing: border-box;
}

.social-items__link:hover {
  filter: invert(60%) sepia(88%) saturate(1655%) hue-rotate(358deg) brightness(99%) contrast(108%);
}

.social-items__link:active {
  filter: invert(49%) sepia(90%) saturate(3477%) hue-rotate(4deg) brightness(96%) contrast(89%);
  border: none;
}

.footer-blocks__form {
  width: 570px;
}

@media (max-width: 768px) {
  .footer-blocks__form {
    width: 541px;
  }
}

.footer-form__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer-form__input-wrapper {
  margin-bottom: 26px
}

.footer-form__input {
  width: 570px;
  padding: 25px 333px 15px 26px;
  background: #414141;
  border: none;
}

@media (max-width: 768px) {
  .footer-form__input {
    width: 541px;
    padding: 25px 0 15px 26px;
  }
}

@media (max-width: 1024px) {
  .footer-form__input {
    width: 541px;
    padding: 25px 0 15px 26px;
  }
}

.footer-form_textarea {
  width: 570px;
    /* Заменить на паддинг */
  height: 150px;
  padding: 20px 430px 104px 24px;
  background-color: #414141;
  resize: none;
  border: none;
  overflow-y:hidden;
}

@media (max-width: 768px) {
  .footer-form_textarea {
    width: 541px;
    padding: 15px 0 104px 24px;
  }
}

@media (max-width: 1024px) {
  .footer-form_textarea {
    width: 541px;
    padding: 15px 0 104px 24px;
  }
}

.textarea-form {
  margin-bottom: 27px;
}

input:focus {
  background: #666666;
  color: #ffffff;
}

input:hover {
  background: #666666;
  color: #ffffff;
}

input:active {
  background: #666666;
  color: #ffffff;
}

textarea:hover {
  background: #666666;
  color: #ffffff;
}

::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

:-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer-form__button {
  margin-right: 18px;
  padding: 19px 52px;
  color: #FFFFFF;
  background-color: #FF9900;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: background 0.3s linear;
}

@media (max-width: 768px) {
  .footer-form__button {
    margin-right: 18px;
    padding: 20px 38px;
  }
}

@media (max-width: 1024px) {
  .footer-form__button {
    margin-right: 18px;
    padding: 20px 38px;
  }
}

.footer-form__button:focus {
  background: #F7B045;
}

.footer-form__button:hover {
  background: #F7B045;
}

.footer-form__button:active {
  background: #E1670E;
  border: none;
}

.footer-checkbox {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer-buttom {
  width: 570px;
}

.footer-para__descr {
  width: 363px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.para-self {
  align-self: center;
}

@media (max-width: 768px) {
  .footer-para {
    display: none;
  }
}

@media (max-width: 1024px) {
  .footer-para {
    display: none;
  }
}
