body {
  box-sizing: border-box;
  background-color: #F1F1F1;;
  font-family: 'Muller', sans-serif;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url(../fonts/MullerRegular.woff2) format('woff2'),
  url(../fonts/MullerRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerBold.woff2) format('woff2'),
  url(../fonts/MullerBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerMedium.woff2) format('woff2'),
  url(../fonts/MullerMedium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color:  inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section-title {
  margin-top: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

/* header */

.header-nav {
  margin-bottom: 70px;
  padding: 10px 47px 10px 28px;
  min-width: 1170px;
  justify-content:space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-list {
  width: 773px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  align-items: center;
  justify-content:space-between;
  border-right: 1px solid #E5E5E5;
}

.header-bnts {
  padding-left: 10px;
}

.logo-block {
  padding-top: 30px;
  margin-bottom: 30px;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  margin-right: 24px;
}

.header-text {
  max-width: 115px;
  margin-right: 35px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  word-break: break-all;
}

.contacts-nav {
  max-width: 174px;
  margin-right: 0px;
}

.header-telnum {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-myacc {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.header-text:last-child {
  align-items: center;
}

.header-text:last-child {
  margin-right: 0px;
}

.first-btn,
.second-btn {
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.first-btn:not(:last-child) {
  margin-right: 40px;
}

/* sales block */

.main-sales-block {
  margin-bottom: 70px;
}

.sales-items {
  min-width: 573px;
}

.sales-block2 {
  flex-direction: column;
  align-items: center;
}

.sales-blockl {
  margin-right: 23px;
}

.salest {
  margin-top: 0;
  margin-bottom: 20px;
}

.sales-block-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.sales-price {
  margin-top: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.sales-link {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.first-block {
  margin-bottom: 23px;
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.second-block {
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.big-block {
  padding: 211px 234px 41px 40px;
  max-width: 573px;
  background-image: url(../img/s3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.big-block-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.big-block-price {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

/* aboutus */

.about {
  margin-bottom: 11px;
}

.aboutus-text {
  margin: 0;
  max-width: 880px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;

}

.aboutus {
  margin-bottom: 70px;
}

/* services */

.servicest {
  margin-top: 0;
  margin-bottom: 20px;
}

.services-list {
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.services-list-items {
  margin-bottom: 20px;
  padding: 191px 126px 50px 45px;
  width: 573px;
  background-color: #FFFFFF;
}

.services-list-title {
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.servicesb {
  margin-top: 0;
}

.services-list-items:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  overflow-wrap: break-word;
}

.pic1 {
  background-image: url(../img/serv1.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic2 {
  background-image: url(../img/serv2.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic3 {
  background-image: url(../img/serv3.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic4 {
  background-image: url(../img/serv4.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.adv {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  overflow-wrap: break-word;
}

.adv-pics {
  margin-bottom: 8px;
}

.advantages-items {
  margin-bottom: 23px;
  padding: 41px 45px;
  width: 275px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.advantages-items:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-items:last-child {
  margin-bottom: 23px;
}

/* accommadation */

.accommodation {
  margin-bottom: 70px;
}

.acmd {
  margin-bottom: 30px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accommadation-descr {
  padding: 36px 47px 29px 45px;
}

.accommadation-items {
  width: 374px;
  margin-bottom: 23px;
  margin-top: 0;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.accommadation-items:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accnight {
  max-width: 40px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
}

.accommadation-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  word-break: break-all;
}

.accmword {
  margin-top: 0;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  word-break: break-all;
}

.accommadation-placename {
  max-width: 243px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  word-break: break-all;
}

.accommodation-image {
  margin-bottom: 36px;
}

.last-block {
  position: relative;
  min-width: 375px;
  background-image: url(../img/ac9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.last-block-descr {
  width: 375px;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.last-block-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left:0;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #FFFFFF;
  justify-content: center;
  align-items: flex-end;
}

.accommadation-btn {
  max-width: 100%;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  word-break: break-all;
}

.arrowright {
  padding-left: 3px;
}

.text-lastblock {
  padding: 0px 54px 27px 54px;
  word-break: break-all;
}

/* form */

.form {
  margin-bottom: 70px;
}

.form-title {
  padding: 0;
}

.form-search {
  padding: 24px 28px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.form-select {
  border: none;
}

.form-cont {
  padding: 38px 45px 71px 45px;
  background-color: #E9E9E9;
  border-radius: 15px;
}

.form-top {
  display: block;
  max-width: 100px;
  margin-top: 0;
  padding-left: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.allb {
  padding: 0;
  margin: 0;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.form-block {
  max-width: 211px;
  padding: 0;
  padding-right: 25px;
  margin: 0;
  border: none;
  border-right: 1px solid #E1E1E1;
}

.form-data {
  border: none;
  padding-left: 4px;
}

.form-btn {
  max-width: 110px;
  padding: 13px 30px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  box-sizing: border-box;
  word-break: break-all;
}

.daysin {
  border-bottom: 1px solid #CCCCCC;
}

.tourists {
  border-bottom: 1px solid #CCCCCC;
}

/* contacts */

.contacts {
  margin-bottom: 20px;
}

.contacts-cont {
  width: 1168px;
  margin-bottom: 19px;
  padding: 44px 46px;
  border-radius: 15px;
  background-color: #FFFFFF;
  background-image: url(../img/Layer21.jpg);
  background-position: center right 46px;
  background-repeat: no-repeat;
  background-size: 653px 538px;
}

.contacts-list {
  max-width: 375px;
  flex-direction: column;
  margin-bottom: 45px;
}

.contacts-items {
  max-width: 375px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: baseline;
  border-bottom: 1px solid #cccccc;
}

.items-title {
  width: 140px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  word-break: break-all;
}

.items-descr-text {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contacts-tel,
.contact-mail {
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.cont-phone {
  margin: 0;
}

.contact-mail-text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.items-descr {
  flex-direction: column;
  max-width: 223px;
  overflow-wrap: break-word;
}

.contacts-btn {
  display: block;
  max-width: 215px;
  padding: 20px 28px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  word-break: break-all;
}

/* footer */

.footer-container {
  padding-bottom: 30px;
}

.footer-cont {
  width: 1168px;
  background: #333333;
  border-radius: 15px;
  padding: 44px 52px 46px 52px;
  justify-content: space-between;
  background-image: url(../img/lsun.svg);
  background-position: bottom right 176px;
  background-repeat: no-repeat;
  background-size: 254px 228px;
}

.footer-left {
  width: 320px;
}

.top-text {
  margin-bottom: 47px;
  overflow-wrap: break-word;
}

.bottom-text {
  margin-bottom: 50px;
}

.footer-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-text-left {
  margin-top: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  word-break: break-all;
}

.footer-link {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  overflow-wrap: break-word;
}

.link-top {
  margin-bottom: 15px;
}

.footer-right {
  width: 358px;
}

.social-link {
  display: block;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link-ta {
  background-image: url(../img/ta.svg);
}

.social-link-tw{
  background-image: url(../img/tw.svg);
}

.social-link-fb {
  background-image: url(../img/fb.svg)
}

.social-link-vk {
  background-image: url(../img/vk.svg);
}

.social-link-ig {
  background-image: url(../img/ig.svg)
}
