body {
  box-sizing: border-box;
  background-color: #F1F1F1;;
  font-family: 'Muller', sans-serif;
}

:root {
  --main-color: #CC9933;
  --text-color: #000000;
  --secondary-color: #ffffff;
  --btns-color: #A47312;
  --third-color: #E9C479;
  --fourth-color: #cccccc;
  --fifth-color: #f0cf8f;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url(../fonts/MullerRegular.woff2) format('woff2'),
  url(../fonts/MullerRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerBold.woff2) format('woff2'),
  url(../fonts/MullerBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerMedium.woff2) format('woff2'),
  url(../fonts/MullerMedium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section-title {
  margin-top: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.btns {
  transition: color .6s ease-in-out;
}

.btns:focus {
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 10px;
  outline: 0;
}

.btns:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 10px;
}

.btns:active {
  color: var(--secondary-color);
  background-color: var(--btns-color);
  border-radius: 10px;
}

.telephone_link:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.telephone_link:hover {
  color: var(--fifth-color);
}

.telephone_link:active {
  color: var(--btns-color);
  border: none;
}

.email_link:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.email_link:hover {
  color: var(--third-color);
}

.email_link:active {
  color: var(--btns-color);
  border: none;
}

/* header */

.header-nav {
  margin-bottom: 70px;
  padding: 10px 47px 10px 28px;
  min-width: 1170px;
  justify-content:space-between;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 15px;
}

.header-list {
  width: 773px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  align-items: center;
  justify-content:space-between;
  border-right: 1px solid #E5E5E5;
}

.header-bnts {
  padding-left: 10px;
}

.logo-block {
  padding-top: 30px;
  margin-bottom: 30px;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  margin-right: 24px;
}

.header-text {
  max-width: 115px;
  margin-right: 35px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  word-break: break-all;
  transition: color 0.2s linear;
}

.header-text:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.header-text:hover {
  color: var(--main-color);
}

.header-text:active {
  border: none;
  color: var(--btns-color);
}

.contacts-nav {
  max-width: 174px;
  margin-right: 0px;
}

.header-telnum {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color 0.2s linear;
}

.header-myacc {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  transition: color 0.2s linear;
}

.header-myacc:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.header-myacc:hover {
  color: var(--third-color);
}

.header-myacc:active {
  color: var(--btns-color);
  border: none;
}

.header-myacc:hover .myacc-icon path {
  fill: var(--third-color);
}

.header-myacc:active .myacc-icon path {
  fill: var(--btns-color);
}

.myacc-icon path {
  transition: fill 0.2s linear;
}

.header-text:last-child {
  align-items: center;
}

.header-text:last-child {
  margin-right: 0px;
}

.first-btn,
.second-btn {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
}

.first-btn:not(:last-child) {
  margin-right: 40px;
}

/* sales block */

.main-sales-block {
  margin-bottom: 70px;
}

.sales-items {
  max-width: 573px;
  min-height: 258px;
  transition: color 0.2s linear;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.sales-items:active .sales-link {
  color: var(--secondary-color);
  border: none;
}

.sales-items:active .sales-link-big {
  color: var(--secondary-color);
  border: none;
}

.sales-items:active .sales-link_icon {
  margin-left: 10px;
}

.sales-block2 {
  flex-direction: column;
  align-items: center;
  transition: color 0.2s linear;
}

.sales-blockl {
  margin-right: 23px;
  transition: color 0.2s linear;
}

.salest {
  margin-top: 0;
  margin-bottom: 20px;
}

.sales-block-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: var(--secondary-color);
}

.sales-price {
  margin-top: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: var(--secondary-color);
}

.sales-link {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  transition: color 0.2s linear;
}

.sales-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.sales-link:focus::before {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.sales-link-big {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.sales-link-big::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sales-link-big:focus::before {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.first-block {
  margin-bottom: 23px;
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s1.jpg);
}

.first-block:hover {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/s1.jpg);
  border-radius: 15px;
}

.second-block {
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s2.jpg);
}

.second-block:hover {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/s2.jpg);
  border-radius: 15px;
}

.big-block {
  padding: 211px 234px 41px 40px;
  max-width: 573px;
  min-height: 540px;
  background-image: url(../img/s3.jpg);
  position: relative;
}

.big-block:hover {
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/s3.jpg);
  border-radius: 15px;
}

.big-block-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: var(--secondary-color);
}

.big-block-price {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: var(--secondary-color);
}

/* aboutus */

.about {
  margin-bottom: 11px;
}

.aboutus-text {
  margin: 0;
  max-width: 880px;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-color);

}

.aboutus {
  margin-bottom: 70px;
}

/* services */

.servicest {
  margin-top: 0;
  margin-bottom: 20px;
}

.services-list {
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.services-list-items {
  margin-bottom: 20px;
  padding: 191px 126px 50px 45px;
  width: 573px;
  background-color: var(--secondary-color);
  position: relative;
}

.services-list-items:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.services-list-title {
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--main-color);
}

.services-link::before {
  content: '';
  position: absolute;
  width: 584px;
  height: 361px;
  top: -9px;
  left: -4px;
}

.services-link:focus::before {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  color: var(--main-color);
}

.services-link:focus .servicesb {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  color: var(--main-color);
}

.services-link:focus .servicesb path{
  stroke: var(--main-color);
}

.services-link:hover .servicesb {
  color: var(--third-color);
}

.services-link:hover .servicesb path {
  stroke: var(--third-color);
}

.services-link:active .servicesb {
  color: var(--btns-color);
  border: none;
}

.services-link:active .servicesb path {
  color: var(--btns-color);
  border: none;
}

.services-title__arrow path {
  transition: stroke 0.2s linear;
}

.servicesb {
  margin-top: 0;
  transition: color 0.2s linear;
}

.services-list-items:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-color);
  overflow-wrap: break-word;
}

.pic1 {
  background-image: url(../img/serv1.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic2 {
  background-image: url(../img/serv2.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic3 {
  background-image: url(../img/serv3.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.pic4 {
  background-image: url(../img/serv4.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.adv {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-color);
  overflow-wrap: break-word;
}

.adv-pics {
  margin-bottom: 8px;
}

.advantages-items {
  margin-bottom: 23px;
  padding: 41px 45px;
  width: 275px;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.advantages-items:not(:nth-child(4n)) {
  margin-right: 23px;
}


.advantages-items:last-child {
  margin-right: 0;
}


/* accommadation */

.accommodation {
  margin-bottom: 70px;
}

.acmd {
  margin-bottom: 30px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accommadation-descr {
  padding: 36px 47px 29px 45px;
}

.accommadation-items {
  width: 374px;
  margin-bottom: 23px;
  margin-top: 0;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.accommadation-items:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accnight {
  max-width: 40px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
}

.accommadation-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  word-break: break-all;
}

.accmword {
  margin-top: 0;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  word-break: break-all;
}

.accommadation-placename {
  max-width: 243px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-color);
  word-break: break-all;
}

.accommodation-image {
  margin-bottom: 36px;
}

.last-block {
  min-width: 375px;
  background-image: url(../img/ac9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.last-block-descr {
  width: 375px;
  height: 100%;
  position: relative;
}

.last-block-text {
  display: flex;
  padding-bottom: 29px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: var(--secondary-color);
}

.last-block-text::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.text-lastblock {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  word-break: break-all;
  transition: color 0.2s linear;
}

.last-block-text:hover::before {
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
}

.accommadation-btn {
  max-width: 100%;
  padding: 13px 20px;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  word-break: break-all;
}

.arrowright {
  padding-left: 3px;
}

.last-block-text .arrowright path {
  transition: stroke 0.2s linear;
}

.last-block-text:focus span{
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  color: var(--main-color);
}

.last-block-text:focus .arrowright path {
  stroke: var(--main-color);
}

.last-block-text:hover span{
  color: var(--main-color);
}

.last-block-text:hover .arrowright path {
  stroke: var(--main-color);
}

.last-block-text:active span{
  color: var(--btns-color);
  border: none;
}

.last-block-text:active .arrowright path {
  stroke: var(--btns-color);
  border: none;
}

/* form */

.form {
  margin-bottom: 70px;
}

.form-title {
  padding: 0;
}

.form-search {
  padding: 24px 28px;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.form-select {
  border: none;
  cursor: pointer;
}

.form-select:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.form-select:hover {
  color: var(--main-color);
}

.form-select:active {
  border: none;
  color: var(--btns-color);
}

.form-cont {
  padding: 38px 45px 71px 45px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.form-top {
  display: block;
  max-width: 100px;
  margin-top: 0;
  padding-left: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-color);
}

.allb {
  padding: 0;
  margin: 0;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.form-block {
  max-width: 211px;
  padding: 0;
  padding-right: 25px;
  margin: 0;
  border: none;
  border-right: 1px solid #E1E1E1;
}

.form-data {
  border: none;
  padding-left: 4px;
  cursor: pointer;
}

.form-btn {
  max-width: 110px;
  padding: 13px 30px;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-sizing: border-box;
  word-break: break-all;
}

.daysin {
  border-bottom: 1px solid var(--fourth-color);
}

.tourists {
  border-bottom: 1px solid var(--fourth-color);
}

/* contacts */

.contacts {
  margin-bottom: 20px;
}

.contacts-cont {
  width: 1168px;
  margin-bottom: 19px;
  padding: 44px 46px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  background-image: url(../img/Layer21.jpg);
  background-position: center right 46px;
  background-repeat: no-repeat;
  background-size: 653px 538px;
}

.contacts-list {
  max-width: 375px;
  flex-direction: column;
  margin-bottom: 45px;
}

.contacts-items {
  max-width: 375px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: baseline;
  border-bottom: 1px solid var(--fourth-color);
}

.items-title {
  width: 140px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-color);
  word-break: break-all;
}

.items-descr-text {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.contacts-tel,
.contact-mail {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  transition: color 0.2s linear;
}

.cont-phone {
  margin: 0;
}

.contact-mail-text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.items-descr {
  flex-direction: column;
  max-width: 223px;
  overflow-wrap: break-word;
}

.contacts-btn {
  display: block;
  max-width: 215px;
  padding: 20px 28px;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  word-break: break-all;
}

/* footer */

.footer-container {
  padding-bottom: 30px;
}

.footer-cont {
  width: 1168px;
  background: #333333;
  border-radius: 15px;
  padding: 44px 52px 46px 52px;
  justify-content: space-between;
  background-image: url(../img/lsun.svg);
  background-position: bottom right 176px;
  background-repeat: no-repeat;
  background-size: 254px 228px;
}

.footer-left {
  width: 320px;
}

.top-text {
  margin-bottom: 47px;
  overflow-wrap: break-word;
}

.bottom-text {
  margin-bottom: 50px;
}

.footer-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 190%;
  color: var(--secondary-color);
}

.footer-text-left {
  margin-top: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-size: 16px;
  line-height: 190%;
  color: var(--secondary-color);
  word-break: break-all;
}

.footer-link {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  overflow-wrap: break-word;
  transition: color 0.2s linear;
}

.footer-items-link {
  transition: color 0.2s linear;
}

.footer-items-link:focus {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
}

.footer-items-link:hover {
  color: var(--fifth-color);
}

.footer-items-link:active {
  border: none;
  color: var(--btns-color);
}

.link-top {
  margin-bottom: 15px;
}

.footer-right {
  width: 358px;
}

.social-link {
  display: block;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.2s linear;
}

.social-link-ta {
  background-image: url(../img/ta.svg);
}

.social-link-tw{
  background-image: url(../img/tw.svg);
}

.social-link-fb {
  background-image: url(../img/fb.svg)
}

.social-link-vk {
  background-image: url(../img/vk.svg);
}

.social-link-ig {
  background-image: url(../img/ig.svg)
}

.social-link:hover,
.social-link:focus {
  filter: invert(58%) sepia(71%) saturate(414%) hue-rotate(2deg) brightness(94%) contrast(91%);
}

.social-link:active {
  filter: invert(44%) sepia(86%) saturate(470%) hue-rotate(1deg) brightness(88%) contrast(89%);
}
