body {
  box-sizing: border-box;
  background-color: #E5E5E5;
  font-family: 'Muller', sans-serif;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url(../fonts/MullerRegular.woff2) format('woff2'),
  url(../fonts/MullerRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerBold.woff2) format('woff2'),
  url(../fonts/MullerBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url(../fonts/MullerMedium.woff2) format('woff2'),
  url(../fonts/MullerMedium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color:  inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin-top: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

/* header */

.header {
  padding-top: 30px;
}

.logo-block {
  margin-bottom: 30px;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  margin-right: 24px;
}

.header-text {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-telnum {
  margin-right: auto;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-myacc {
  align-items: center;
  border: 1px solid #000000;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.header-nav {
  padding-left: 45px;
  min-width: 1170px;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-text:not(:last-child) {
  margin-right: 45px;
}

.header-link:not(:last-child) {
  margin-right: 40px;
}

.header-bnts {
  padding-right: 56px;
}

.first-btn,
.second-btn {
  max-height: 42px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.first-btn {
  max-width: 107px;
}

.second-btn {
  max-width: 177px;
}

.vertical-line {
  margin-right: 56px;
  width: 1px;
  background-color: #E5E5E5;
  height: 50px;
}

.contacts-nav {
  padding-right: 56px;
}

/* sales block */

.main-sales-block {
  margin-bottom: 70px;
}

.sales-items {
  min-width: 573px;
  min-height: 258px;
}

.sales-block2 {
  flex-direction: column;
  align-items: center;
}

.sales-blockl {
  margin-right: 23px;
}

.salest {
  margin-top: 0;
  margin-bottom: 20px;
}

.sales-block-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.sales-price {
  margin-top: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.sales-link {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.first-block {
  margin-bottom: 23px;
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.second-block {
  padding: 40px 234px 40px 40px;
  background-image: url(../img/s2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.big-block {
  padding: 211px 234px 41px 40px;
  min-width: 573px;
  min-height: 540px;
  background-image: url(../img/s3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.big-block-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.big-block-price {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

/* aboutus */

.about {
  margin-bottom: 11px;
}

.aboutus-text {
  margin: 0;
  max-width: 880px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.aboutus {
  margin-bottom: 70px;
}

/* services */

.servicest {
  margin-top: 0;
  margin-bottom: 20px;
}

.services-list {
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.services-list-text {
  max-width: 533px;
  margin-bottom: 23px;
  background-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
}

.services-list-text:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-list-text:not(:last-child) {
  margin-bottom: 23px;
}

.services-text {
  margin: 0;
  min-width: 402px;
  padding-left: 45px;
  padding-right: 100px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.servicesb {
  margin-top: 0;
}

.pic1 {
  background: url(../img/serv1.jpg) center center no-repeat transparent;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 26px;
}

.pic2 {
  background: url(../img/serv2.jpg) center center no-repeat transparent;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 26px;
}

.pic3 {
  background: url(../img/serv3.jpg) center center no-repeat transparent;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 26px;
}

.pic4 {
  background: url(../img/serv4.jpg) center center no-repeat transparent;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 26px;
}

.services-list-pic {
  display: block;
  height: 165px;
  background-color: #E5E5E5;
}

.services-list-title {
  align-items: center;
  margin: 0;
  padding-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.adv {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.adv-pics {
  margin-bottom: 10px;
}

.advantages-items {
  max-width: 275px;
  margin-bottom: 23px;
  padding: 41px 45px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.advantages-items:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-items:last-child {
  margin-bottom: 23px;
}

.advantages-list-text {
  margin: 0;
}

/* accommadation */

.acmd {
  margin-bottom: 30px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accommadation-descr {
  padding: 36px 47px 29px 45px;
}

.accommadation-text {
  max-height: 440px;
  margin-bottom: 23px;
  margin-top: 0;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.accommadation-text:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accnight {
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
}

.accommadation-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.accmword {
  margin-top: 0;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accommadation-placename {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.accommodation-image {
  margin-bottom: 36px;
}

.last-block {
  min-width: 375px;
  background-image: url(../img/ac9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.last-block-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #FFFFFF;
}

.last-block-descr {
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  padding-bottom: 30px;
}

.accommadation-btn {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.text-lastblock {
  align-items: center;
}

.arrowright {
  padding-left: 3px;
}
