body {
  box-sizing: border-box;
  background-color: #F1F1F1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color:  inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  margin: 0;
}

/* header */

.logo-block {
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 24px;
}

.headerinfo {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}


.header-myacc {
  align-items: center;
}

.header-nav {
  justify-content: space-between;
  margin-bottom: 70px;
}

.header-text:not(:last-child) {
  margin-right: 45px;
}

.header-link:not(:last-child) {
  margin-right: 40px;
}

/* sales block */

.main-sales-block {
  margin-bottom: 70px;
}

.sales-block2 {
  flex-direction: column;
  align-items: center;
}

.sales-blockl {
  margin-right: 398px;
}

.salest {
  margin-top: 0;
  margin-bottom: 20px;
}

.sales-block-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.sales-price {
  margin-top: 0;
  margin-bottom: 47px;
}

/* aboutus */

.about {
  margin-bottom: 11px;
}

.aboutus-text {
  margin-bottom: 70px;
}

/* services */

.servicest {
  margin-bottom: 20px;
}

.services-list {
  flex-wrap: wrap;
}

.services-list-text {
  width: 533px;
  margin-bottom: 23px;
}

.services-list-text:not(:last-child) {
  margin-right: 23px;
}

.services-text {
  margin-top: 0;
}

.servicesb {
  margin-top: 0;
}

/* advantages */

.advt {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-items {
  width: 275px;
  margin-bottom: 23px;
  align-items: center;
}

.advantages-items:not(:nth-child(4n)) {
  margin-right: 23px;
}

/* accommadation */

.acmdt {
  margin-bottom: 30px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accomadation-text {
  width: 374px;
  margin-bottom: 23px;
}

.accomadation-text:not(:nth-child(3n)) {
  margin-right: 23px;
}
